<div class="item">
    <img src="assets/img/user4-128x128.jpg" alt="user image" class="online">

    <p class="message">
        <a href="#" class="name">
            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small> Mike Doe
        </a>
        I would like to meet you to discuss the latest news about the arrival of the new theme. They say it is going to be one the best themes on the market
    </p>
</div>



<div class="item subitem" *ngFor="let comment of comment?.children">
    <img src="assets/img/user4-128x128.jpg" alt="user image" class="online">

    <p class="message">
        <a href="#" class="name">
            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small> Mike Doe
        </a>
        I would like to meet you to discuss the latest news about the arrival of the new theme. They say it is going to be one the best themes on the market
    </p>

    <div class="col-md-12">
        <span>Responder</span>
    </div>
</div>